player-connection-mode=Listen
player-connection-guid=3408024798
player-connection-debug=0
player-connection-project-name=WiiSports_Archery
player-connection-ip=192.168.1.95
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=454151a2dcfd460f9cc29f0ad8312666
